.hero-img {
  background-image: url("/assets/nurse.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-doc {
  background-image: url("/assets/doctors.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-footer {
  color: #f59e0b;
}

.icon-art {
  color: #111827;
}

.box {
  display: none;
}

/*CONTACT US PAGES*/

.contct-bg {
  background-image: url("/assets/dark_wood.png");
}

/*DOCTORS PAGES*/
/* .doc-img {
  object-fit: cover;
  width: 50px;
} */
